body {
    font-family: Arial, serif;
}


button {
    color: white;
    border: none;
    padding: 20px;
    background: #209e48;
    border-radius: 8px;
}

button:hover {
    background: #105c28;
}


div {
    text-align: center;
}

.cell {
    border: 2px solid #807f7d;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #4d4d4d;
}

.cell:hover {
    background: #fcf6d7;
}

#field {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.main {
    margin: 100px;
    display: none;
}

.header {
    margin: 100px
}
